.composer/**
.cpanel/**
.htpasswds/**
.pki/**
.ssh/**
.trash/**
etc/**
mail/**
perl5/**
public_ftp/**
ssl/**
cache/**
test/**
tmp/**
Volumes/**
laravel/storage/framework/sessions/**
.cphorde/**
public_html/.qidb/**
public_html/cgi-bin/**
public_html/scavenger/**
public_html/scavenger copy/**
public_html/wordpress/**
public_html/phpinfo.php.bak
public_html/web.config
/public_html/*

laravel/storage/logs/laravel.log
laravel/storage/framework/sessions/**
.bash_history
.bash_logout
.bash_profile
.bashrc
.contactemail
.dns
.emacs
.ftpquota
.gemrc
.htaccess-1452618104
.htaccess-1452618138
.htaccess-1453765183
.kshrc
.lastlogin
.permslog
.viminfo
access-logs
auto-dm.php
composer.phar
error_log
html.inc
php.ini
php.ini-1452721971
php.ini-1452722054
www



*node_modules
*.sass-cache
Homestead.yaml
Homestead.json
.env