/* ---------------------------------------------------------------------- */
/*  Theme 1
/* ---------------------------------------------------------------------- */
/* line 41, ../../../master/sass/themes/theme-1.scss */
::-moz-selection {
  background: #007aff;
  text-shadow: none;
  color: #ffffff;
}

/* line 47, ../../../master/sass/themes/theme-1.scss */
::selection {
  background: #007aff;
  text-shadow: none;
  color: #ffffff;
}

/* line 53, ../../../master/sass/themes/theme-1.scss */
body {
  background: #FAFAFA;
}

@media (max-width: 991px) {
  /* line 57, ../../../master/sass/themes/theme-1.scss */
  .app-content {
    background: #FAFAFA;
  }
}

/* line 64, ../../../master/sass/themes/theme-1.scss */
header .navbar-header {
  background: #ffffff !important;
  border-right-color: #c8c7cc !important;
  border-bottom-color: #c8c7cc !important;
}
/* line 69, ../../../master/sass/themes/theme-1.scss */
header .navbar-header .sidebar-toggler, header .navbar-header .sidebar-mobile-toggler {
  color: #007aff !important;
}
/* line 73, ../../../master/sass/themes/theme-1.scss */
header .navbar-header .navbar-brand {
  color: #777 !important;
}
/* line 77, ../../../master/sass/themes/theme-1.scss */
header .navbar-header .menu-toggler {
  color: #007aff !important;
}
/* line 82, ../../../master/sass/themes/theme-1.scss */
header .navbar-collapse {
  background: #ffffff !important;
  border-bottom-color: #c8c7cc !important;
  box-shadow: none !important;
}
/* line 89, ../../../master/sass/themes/theme-1.scss */
header .navbar-collapse .navbar-right > li > a {
  color: #777;
}
/* line 92, ../../../master/sass/themes/theme-1.scss */
header .navbar-collapse .navbar-right > li > a i {
  color: #007aff !important;
}
/* line 96, ../../../master/sass/themes/theme-1.scss */
header .navbar-collapse .navbar-right > li > a:hover, header .navbar-collapse .navbar-right > li > a:focus, header .navbar-collapse .navbar-right > li > a:active {
  background: #ebebeb !important;
}
/* line 101, ../../../master/sass/themes/theme-1.scss */
header .navbar-collapse .navbar-right > li.open > a {
  background: #ebebeb !important;
}
/* line 106, ../../../master/sass/themes/theme-1.scss */
header .navbar-collapse .navbar-right .dot-badge {
  border-color: #ffffff;
}
@media (max-width: 991px) {
  /* line 82, ../../../master/sass/themes/theme-1.scss */
  header .navbar-collapse {
    background: #ffffff !important;
    box-shadow: none;
  }
  /* line 117, ../../../master/sass/themes/theme-1.scss */
  header .navbar-collapse .navbar-right > li > a {
    color: #777;
  }
  /* line 120, ../../../master/sass/themes/theme-1.scss */
  header .navbar-collapse .navbar-right > li > a i {
    color: #007aff !important;
  }
  /* line 124, ../../../master/sass/themes/theme-1.scss */
  header .navbar-collapse .navbar-right > li > a:hover, header .navbar-collapse .navbar-right > li > a:focus, header .navbar-collapse .navbar-right > li > a:active {
    background: #ebebeb !important;
  }
  /* line 129, ../../../master/sass/themes/theme-1.scss */
  header .navbar-collapse .navbar-right > li.open > a {
    background: #ebebeb !important;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  /* line 116, ../../../master/sass/themes/theme-1.scss */
  header .navbar-collapse .navbar-right > li {
    border-bottom: 1px solid #c8c7cc !important;
  }
}
@media (max-width: 991px) {
  /* line 138, ../../../master/sass/themes/theme-1.scss */
  header .navbar-collapse .navbar-right .dot-badge {
    border-color: #ffffff;
  }
}
@media (max-width: 767px) {
  /* line 82, ../../../master/sass/themes/theme-1.scss */
  header .navbar-collapse {
    background: #ffffff !important;
  }
  /* line 147, ../../../master/sass/themes/theme-1.scss */
  header .navbar-collapse .close-handle {
    background: #ffffff;
  }
  /* line 150, ../../../master/sass/themes/theme-1.scss */
  header .navbar-collapse .close-handle .arrow-left, header .navbar-collapse .close-handle .arrow-right {
    background-color: #007aff;
  }
  /* line 158, ../../../master/sass/themes/theme-1.scss */
  header .navbar-collapse .navbar-right .current-user a i {
    color: #ffffff !important;
    background: rgba(0, 122, 255, 0.3);
  }
}
/* line 168, ../../../master/sass/themes/theme-1.scss */
header .dropdown-off-sidebar {
  border-left-color: #c8c7cc !important;
  background: #ffffff !important;
  color: #007aff !important;
}
@media (max-width: 991px) {
  /* line 168, ../../../master/sass/themes/theme-1.scss */
  header .dropdown-off-sidebar {
    background: #ffffff !important;
    border-left-color: #c8c7cc !important;
    color: #007aff !important;
  }
}

/* line 181, ../../../master/sass/themes/theme-1.scss */
#sidebar {
  background: #EFEFF4 !important;
}
/* line 184, ../../../master/sass/themes/theme-1.scss */
#sidebar:before {
  border-right-width: "1px" !important;
  border-right-style: solid;
  border-right-color: #c8c7cc !important;
}
/* line 190, ../../../master/sass/themes/theme-1.scss */
#sidebar nav {
  border-right-width: "1px" !important;
  border-right-style: solid;
  border-right-color: #c8c7cc !important;
}
/* line 195, ../../../master/sass/themes/theme-1.scss */
#sidebar nav .navbar-title {
  color: #aaaaaa;
}
/* line 199, ../../../master/sass/themes/theme-1.scss */
#sidebar nav > ul {
  background: #ffffff !important;
  border-bottom-color: #c8c7cc !important;
  border-top-color: #c8c7cc !important;
}
/* line 206, ../../../master/sass/themes/theme-1.scss */
#sidebar nav > ul > li a:active:focus {
  background: #e6e6e6 !important;
}
/* line 213, ../../../master/sass/themes/theme-1.scss */
#sidebar nav > ul > li > a .item-media > i {
  color: #007aff !important;
}
/* line 218, ../../../master/sass/themes/theme-1.scss */
#sidebar nav > ul > li > a .item-media .fa-stack .fa-square {
  color: #007aff !important;
}
/* line 224, ../../../master/sass/themes/theme-1.scss */
#sidebar nav > ul > li > a .item-inner {
  color: #777 !important;
  border-bottom-color: #c8c7cc;
}
/* line 230, ../../../master/sass/themes/theme-1.scss */
#sidebar nav > ul > li.hover {
  background: #f2f2f2 !important;
}
/* line 234, ../../../master/sass/themes/theme-1.scss */
#sidebar nav > ul > li.open {
  background: #f2f2f2 !important;
}
/* line 239, ../../../master/sass/themes/theme-1.scss */
.no-touch #sidebar nav > ul > li:hover {
  background: #f2f2f2 !important;
}
/* line 246, ../../../master/sass/themes/theme-1.scss */
#sidebar nav > ul > li.active {
  background: #007aff !important;
}
/* line 249, ../../../master/sass/themes/theme-1.scss */
#sidebar nav > ul > li.active:hover {
  background: #007aff !important;
}
@media (min-width: 992px) {
  /* line 254, ../../../master/sass/themes/theme-1.scss */
  #sidebar nav > ul > li.active:before {
    border-right-color: #c8c7cc !important;
  }
  /* line 258, ../../../master/sass/themes/theme-1.scss */
  #sidebar nav > ul > li.active:after {
    border-right-color: #FAFAFA !important;
  }
}
/* line 264, ../../../master/sass/themes/theme-1.scss */
#sidebar nav > ul > li.active > a:active:focus {
  background: #006ee6 !important;
}
/* line 268, ../../../master/sass/themes/theme-1.scss */
#sidebar nav > ul > li.active > a .item-inner {
  color: #ffffff !important;
}
/* line 273, ../../../master/sass/themes/theme-1.scss */
#sidebar nav > ul > li.active > a .item-media > i {
  color: #ffffff !important;
}
/* line 278, ../../../master/sass/themes/theme-1.scss */
#sidebar nav > ul > li.active > a .item-media .fa-stack .fa-square {
  color: #007aff !important;
}
/* line 285, ../../../master/sass/themes/theme-1.scss */
#sidebar nav > ul > li.active .sub-menu {
  background: #f7f7f7;
}
/* line 291, ../../../master/sass/themes/theme-1.scss */
#sidebar nav > ul .sub-menu {
  background: #f7f7f7;
}
/* line 295, ../../../master/sass/themes/theme-1.scss */
#sidebar nav > ul .sub-menu > li.open {
  background: #f2f2f2 !important;
}
/* line 299, ../../../master/sass/themes/theme-1.scss */
#sidebar nav > ul .sub-menu > li a {
  color: #777;
}
/* line 304, ../../../master/sass/themes/theme-1.scss */
#sidebar nav > ul .sub-menu > li.active a {
  background: #e0e0e0 !important;
}
/* line 315, ../../../master/sass/themes/theme-1.scss */
#sidebar nav ul > li.hover {
  background: #f2f2f2;
}
/* line 320, ../../../master/sass/themes/theme-1.scss */
.no-touch #sidebar nav ul > li:hover {
  background: #f2f2f2;
}
/* line 325, ../../../master/sass/themes/theme-1.scss */
#sidebar nav ul > li.open {
  background: #f2f2f2;
}
/* line 331, ../../../master/sass/themes/theme-1.scss */
#sidebar nav .button-o {
  border-color: #007aff !important;
  color: #007aff !important;
}

@media (min-width: 992px) {
  /* line 342, ../../../master/sass/themes/theme-1.scss */
  .app-sidebar-closed .app-aside .search-form {
    background: #dddde8 !important;
    border-bottom-color: #c8c7cc !important;
  }
  /* line 346, ../../../master/sass/themes/theme-1.scss */
  .app-sidebar-closed .app-aside .search-form > a {
    color: #777;
  }
  /* line 351, ../../../master/sass/themes/theme-1.scss */
  .app-sidebar-closed .app-aside .navbar-form {
    background: #dddde8 !important;
  }
  /* line 354, ../../../master/sass/themes/theme-1.scss */
  .app-sidebar-closed .app-aside .navbar-form a {
    color: #777 !important;
  }
  /* line 359, ../../../master/sass/themes/theme-1.scss */
  .app-sidebar-closed .app-aside .navbar-form .form-group input {
    background: rgba(255, 255, 255, 0.4);
  }
  /* line 362, ../../../master/sass/themes/theme-1.scss */
  .app-sidebar-closed .app-aside .navbar-form .form-group input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #777;
  }
  /* line 366, ../../../master/sass/themes/theme-1.scss */
  .app-sidebar-closed .app-aside .navbar-form .form-group input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #777;
  }
  /* line 370, ../../../master/sass/themes/theme-1.scss */
  .app-sidebar-closed .app-aside .navbar-form .form-group input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #777;
  }
  /* line 374, ../../../master/sass/themes/theme-1.scss */
  .app-sidebar-closed .app-aside .navbar-form .form-group input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #777;
  }
  /* line 381, ../../../master/sass/themes/theme-1.scss */
  .app-sidebar-closed .app-aside > .item-inner {
    background: #e6e6e6 !important;
  }
  /* line 384, ../../../master/sass/themes/theme-1.scss */
  .app-sidebar-closed .app-aside > .item-inner .title {
    color: #777 !important;
  }
  /* line 388, ../../../master/sass/themes/theme-1.scss */
  .app-sidebar-closed .app-aside > .item-inner.active {
    background: #e6e6e6 !important;
  }
  /* line 391, ../../../master/sass/themes/theme-1.scss */
  .app-sidebar-closed .app-aside > .item-inner.active:before {
    border-left: 12px solid #c8c7cc;
  }
  /* line 395, ../../../master/sass/themes/theme-1.scss */
  .app-sidebar-closed .app-aside > .item-inner.active:after {
    border-left: 12px solid #007aff !important;
  }
  /* line 400, ../../../master/sass/themes/theme-1.scss */
  .app-sidebar-closed .app-aside > .item-inner:before {
    border-left: 12px solid #c8c7cc;
  }
  /* line 404, ../../../master/sass/themes/theme-1.scss */
  .app-sidebar-closed .app-aside > .item-inner:after {
    border-left: 12px solid #f2f2f2 !important;
  }
  /* line 409, ../../../master/sass/themes/theme-1.scss */
  .app-sidebar-closed .app-aside .form-group {
    background: #dddde8 !important;
    border-color: #c8c7cc !important;
  }
  /* line 414, ../../../master/sass/themes/theme-1.scss */
  .app-sidebar-closed .app-aside .sub-menu {
    background: #ffffff;
  }
  /* line 418, ../../../master/sass/themes/theme-1.scss */
  .app-sidebar-closed .app-aside .sub-menu li a {
    color: #777 !important;
  }
  /* line 421, ../../../master/sass/themes/theme-1.scss */
  .app-sidebar-closed .app-aside .sub-menu li a.hover {
    background: #e6e6e6 !important;
  }
  /* line 426, ../../../master/sass/themes/theme-1.scss */
  .no-touch .app-sidebar-closed .app-aside .sub-menu li a:hover {
    background: #e6e6e6 !important;
  }
  /* line 432, ../../../master/sass/themes/theme-1.scss */
  .app-sidebar-closed .app-aside .sub-menu li.active > a, .app-sidebar-closed .app-aside .sub-menu li.open > a {
    background: #e6e6e6 !important;
  }
}
@media (min-width: 992px) {
  /* line 442, ../../../master/sass/themes/theme-1.scss */
  .app-sidebar-closed ul.sub-menu {
    border-right-color: #c8c7cc !important;
    border-bottom-color: #c8c7cc !important;
  }
}

/* line 450, ../../../master/sass/themes/theme-1.scss */
.navbar-form {
  background: #dddde8 !important;
}
/* line 453, ../../../master/sass/themes/theme-1.scss */
.navbar-form .search-button {
  color: #777;
}
/* line 458, ../../../master/sass/themes/theme-1.scss */
.navbar-form .form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(119, 119, 119, 0.5);
}
/* line 462, ../../../master/sass/themes/theme-1.scss */
.navbar-form .form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(119, 119, 119, 0.5);
}
/* line 466, ../../../master/sass/themes/theme-1.scss */
.navbar-form .form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(119, 119, 119, 0.5);
}
/* line 470, ../../../master/sass/themes/theme-1.scss */
.navbar-form .form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(119, 119, 119, 0.5);
}
/* line 474, ../../../master/sass/themes/theme-1.scss */
.navbar-form .form-control:focus {
  background-color: #ffffff !important;
  border-color: #ffffff;
  transition: all 300ms ease-in 0s;
}
/* line 479, ../../../master/sass/themes/theme-1.scss */
.navbar-form .form-control:focus + .search-button {
  color: #7c7c7c;
}
/* line 483, ../../../master/sass/themes/theme-1.scss */
.navbar-form .form-control:focus::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #bbbbbb !important;
}
/* line 487, ../../../master/sass/themes/theme-1.scss */
.navbar-form .form-control:focus:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #bbbbbb !important;
}
/* line 491, ../../../master/sass/themes/theme-1.scss */
.navbar-form .form-control:focus::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #bbbbbb !important;
}
/* line 495, ../../../master/sass/themes/theme-1.scss */
.navbar-form .form-control:focus:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #bbbbbb !important;
}

/* line 502, ../../../master/sass/themes/theme-1.scss */
#off-sidebar {
  background: #ffffff !important;
  border-color: #c8c7cc !important;
}
/* line 506, ../../../master/sass/themes/theme-1.scss */
#off-sidebar .sidebar-back {
  color: #007aff;
}
/* line 510, ../../../master/sass/themes/theme-1.scss */
#off-sidebar .tab-content {
  background: #ffffff !important;
}
/* line 516, ../../../master/sass/themes/theme-1.scss */
#off-sidebar .nav-tabs.nav-justified > li > a {
  border-color: #c8c7cc;
  color: rgba(0, 122, 255, 0.7);
  background: #f2f2f2;
}
/* line 521, ../../../master/sass/themes/theme-1.scss */
#off-sidebar .nav-tabs.nav-justified > li > a:hover, #off-sidebar .nav-tabs.nav-justified > li > a:focus {
  background: #e6e6e6;
  color: rgba(0, 122, 255, 0.8);
}
/* line 527, ../../../master/sass/themes/theme-1.scss */
#off-sidebar .nav-tabs.nav-justified > li.active > a, #off-sidebar .nav-tabs.nav-justified > li.active > a:hover, #off-sidebar .nav-tabs.nav-justified > li.active > a:focus {
  color: #007aff;
  background: #ffffff;
  border-bottom-color: #ffffff;
}
/* line 535, ../../../master/sass/themes/theme-1.scss */
#off-sidebar .media-list .media {
  border-color: #c8c7cc;
  color: #777;
}
/* line 539, ../../../master/sass/themes/theme-1.scss */
#off-sidebar .media-list .media a:hover {
  background: #e6e6e6;
}
/* line 543, ../../../master/sass/themes/theme-1.scss */
#off-sidebar .media-list .media .media-heading {
  color: #777 !important;
}
/* line 547, ../../../master/sass/themes/theme-1.scss */
#off-sidebar .media-list .media .media-body span {
  color: #919191;
}
/* line 552, ../../../master/sass/themes/theme-1.scss */
#off-sidebar .sidebar-title {
  color: #777;
}
/* line 557, ../../../master/sass/themes/theme-1.scss */
#off-sidebar .discussion .messages-date {
  color: #777;
}
/* line 561, ../../../master/sass/themes/theme-1.scss */
#off-sidebar .discussion .message-name {
  color: #777;
}
/* line 566, ../../../master/sass/themes/theme-1.scss */
#off-sidebar .message-bar {
  background: #e6e6e6;
  border-top-color: #c8c7cc;
}
/* line 570, ../../../master/sass/themes/theme-1.scss */
#off-sidebar .message-bar textarea {
  background: #fff;
  border-color: #c8c7cc;
}
/* line 575, ../../../master/sass/themes/theme-1.scss */
#off-sidebar .message-bar .link {
  color: #007aff;
}
/* line 579, ../../../master/sass/themes/theme-1.scss */
#off-sidebar .message-bar a.icon-only {
  color: #777;
}

/* line 585, ../../../master/sass/themes/theme-1.scss */
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #999 !important;
}

/* line 589, ../../../master/sass/themes/theme-1.scss */
#app > footer {
  background: #ffffff !important;
  border-top-color: #c8c7cc !important;
  color: #777;
}
